.chat-bubble {
    position: relative;
    background: #1a5fff;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    color: white;
    margin-top: 25px;
    font-size: 13px;
  }
  
  .chat-bubble:after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 12px;
    height: 12px;
    background: #1a5fff;
    border-radius: 50%;
  }