.setting_input {
    position: relative;
    .login_input {
      width: 93%;
    }
  }
  .setting_icons {
    position: absolute;
    top: 35%;
    padding-left: 10px;
  }
  .logout_button {
    position: absolute;
    left: 7em;
    bottom: 3em;
    color: red;
    background-color: transparent;
    font-size: 16px;
    display: flex;
  }